* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
  }

  nav {
    background-color: #393e46;
    color: white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 60%;
        grid-template-columns: 30% 60%;
    -webkit-column-gap: 10%;
            column-gap: 10%;
    padding: 0% 5%;
  }

  nav .array-inputs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    place-content: center;
    padding: 4% 0%;
  }

  nav .array-inputs #a_size {
    padding: 4% 0% 4% 0%;
  }

  nav .array-inputs #a_speed {
    padding: 4% 0% 4% 0%;
  }

  nav .array-inputs #a_generate {
    background-color: #aad8d3;
    border: none;
    outline: none;
    color: black;
    padding: 4% 0% 4% 0%;
  }

  nav .array-inputs #a_generate:hover {
    cursor: pointer;
    background-color: #ffffff;
  }

  nav .header_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }


  nav .header_right .nav-heading {
    display: inline-block;
    font-size: xxx-large;
    padding: 3% 0%;
  }

  nav .header_right .algos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (16.66667%);
    grid-template-columns: repeat(6, 16.66667%);
    place-content: center;
    padding: 2% 2%;
  }

  nav .header_right .algos button {
    background-color: #25a2b5;
    border: white;
    color: rgb(0, 3, 3);
    outline: white;
    padding: 5% 5%;
    font-size: large;
  }

  nav .header_right .algos button:hover {
    background-color: #cce9ea;
    color: rgb(16, 86, 86);
    cursor: pointer;
  }

  nav .header_right .algos .butt_locked {
    background-color: transparent;
    cursor: pointer;
  }
  
  nav .header_right .algos .butt_locked:hover {
    background-color: transparent;
    cursor: pointer;
  }
  
  nav .header_right .algos .butt_selected {
    background-color: white;
    color: rgb(49, 79, 146);
  }
  
  nav .header_right .algos .butt_selected:hover {
    background-color: #b5e4e4;
    cursor: pointer;
  }
  
  nav .header_right .algos .butt_unselected:hover {
    background-color: #00adb5;
    cursor: pointer;
  }

  section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
  }
  
  section #array_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70vh;
  }

  .hide {
    display: none;
  }